/Hackaton.App.Consola/obj
/Hackaton.App.Consola/bin
/Hackaton.App.Dominio/obj
/Hackaton.App.Dominio/bin
/Hackaton.App.Persistencia/obj
/Hackaton.App.Persistencia/bin
/Hackaton.App.Presentacion/obj
/Hackaton.App.Presentacion/bin
